# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
*.db
*.sqlite3
steganography.db
migrations/versions/*

# Caches
.pytest_cache/
.coverage
htmlcov/
.nox/
.tox/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
uploads/
frontend/stego_*
